{% extends "admin/base.html" %}
{% load static %}
{% block extrahead %}
    {{ block.super }}
    <script src="{% static 'js/admin_notifications.js' %}"></script>
    <script src="{% static 'js/loading.js' %}"></script>
    <style>
        .unfold-bell { 
            position: fixed; 
            top: 20px; 
            right: 30px; 
            cursor: pointer; 
            font-size: 24px; 
        }
        .badge { 
            background: red; 
            color: white; 
            border-radius: 50%; 
            padding: 2px 6px; 
            font-size: 12px; 
            position: absolute; 
            top: -8px; 
            right: -10px; 
        }
    </style>
{% endblock %}

{% block base %}
    <!-- Overlay loading -->
    <div id="loading-overlay" display="flex" style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(255, 255, 255, 0.8); z-index: 9999; justify-content: center; align-items: center; display: none;">
        <img class="w-100" src="{% static '/loading.gif' %}" alt="Loading...">
    </div>

    <!-- toast -->
    {% comment %} <div class="alert alert-info alert-soft" style="display:none;" id="toast-template">
    </div> {% endcomment %}
    <div class="toast toast-top toast-end z-50 mt-16" id="toast-container">
    </div>

    {{ block.super }}
{% endblock %}
