{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block content %}
<div id="content-main">
    <form method="post">{% csrf_token %}
        <div class="unfold-card">
            <div class="unfold-card-header">
                <h2>{% trans 'Thay đổi mật khẩu' %}</h2>
            </div>
            <div class="unfold-card-body">
                {{ form.as_div }}
                <div class="submit-row mt-4">
                    <input type="submit" value="{% trans 'Đổi mật khẩu' %}" class="unfold-btn unfold-btn-primary">
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}