<div class="flex h-[calc(100vh-100px)]">

    <!-- LEFT: Tree -->
    <div class="w-1/2 border-r p-4">
        <div class="w-full mb-4 icd-search">
            <mat-icon class="me-2" [svgIcon]="'heroicons_solid:magnifying-glass'"></mat-icon>
            <input 
                matInput 
                [(ngModel)]="searchTerm" 
                placeholder="Nhập từ khóa để tìm kiếm..." 
            />
            <button *ngIf="searchTerm" matSuffix mat-icon-button (click)="searchTerm=''">
                <mat-icon [svgIcon]="'heroicons_solid:x-mark'"></mat-icon>
            </button>
        </div>
        <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="icd-tree">

            <!-- Node lá (không có con) -->
            <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
                <!-- <button mat-icon-button disabled></button> -->
                <span (click)="showDetail(node)" class="cursor-pointer">
                    {{node.code}}: {{node.title_vi}}
                </span>
            </mat-tree-node>

            <!-- Node có con (expandable) -->
            <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
                <button mat-icon-button [matTreeNodeToggle]="node.expandable">
                    <mat-icon>
                        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                    </mat-icon>
                </button>
                <span *ngIf="node.level === 0" (click)="showDetail(node)" class="cursor-pointer font-semibold">
                    {{node.chapter}}: {{node.title_vi}}
                </span>
                <span *ngIf="node.level !== 0" (click)="showDetail(node)" class="cursor-pointer font-semibold">
                    {{node.code}}: {{node.title_vi}}
                </span>
            </mat-tree-node>

        </mat-tree>

    </div>

    <!-- RIGHT: Detail -->
    <div class="w-1/2 p-4">
        <div class="detail">
            <ng-container *ngIf="selected; else noSel">
                <h2 class="text-lg text-blue-600 font-bold">
                    CHƯƠNG {{selected.chapter.chapter}}
                </h2>
                <h2 class="text-lg text-blue-600 font-bold">
                    {{selected.chapter.title_vi}} ({{selected.chapter.code}})
                </h2>
                <p>Chương này chứa</p>
                <ul>
                    <li *ngFor="let item of selected.children">
                        {{item.code}}: {{item.title_vi}}
                    </li>
                </ul>
            </ng-container>

            <ng-template #noSel>
                <h1 class="font-semibold text-[24px] mb-2">
                    Phân loại quốc tế về bệnh tật và các vấn đề sức khỏe liên quan – Phiên bản lần thứ 10 (ICD-10)
                </h1>

                <p class="mb-2">
                    Bạn có thể duyệt hệ thống phân loại bằng cách sử dụng <strong>cấu trúc phân cấp ở khung bên trái</strong>,
                    hoặc áp dụng <strong>tính năng tìm kiếm</strong> để nhanh chóng tra cứu mã bệnh và mô tả chi tiết.
                </p>

                <p class="text-gray-500 italic">
                    Thông tin chi tiết hơn về cách sử dụng trình duyệt ICD-10 trực tuyến có sẵn trong tài liệu hướng dẫn sử dụng.
                </p>
            </ng-template>
        </div>
    </div>

</div>