.icd-tree {
    max-height: calc(100vh - 210px);
    min-height: 50%;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 12px;
    padding: 8px;
    .selected-node {
        background-color: #96CAF4; // blue-200
        border-radius: 4px;
        
        span {
            font-weight: 600;
        }
    }
    
    // .mat-tree-node {
    //     transition: background-color 0.2s ease;
        
    //     &:hover {
    //         background-color: #E3E8ED; // yellow-100
    //     }
    // }
}

.icd-search {
    background-color: white;
    border-radius: 12px;
    height: 40px;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    padding: 8px 12px;
    margin-bottom: 16px;
}

.detail {
    max-height: calc(100vh - 130px);
    min-height: 80%;
    overflow-y: auto;
    background-color: white;
    border-radius: 12px;
    border: 1px solid #ccc;
    padding: 12px 16px;
    margin-bottom: 16px;
    height: 100%;
}

.flex {
    display: flex;
}

.w-1\/2 {
    width: 50%;
}

.border-r {
    border-right: 1px solid #ccc;
}

.p-4 {
    padding: 1rem;
}

.p-6 {
    padding: 1.5rem;
}