<div class="grid grid-cols-1 sm:grid-cols-2 sm:h-[calc(100vh-120px)]">

    <!-- LEFT: Tree -->
    <div class="w-full border-r p-4 relative">
        <div *ngIf="isExpandingTree" 
            class="absolute inset-0 bg-white bg-opacity-80 z-50 flex flex-col items-center justify-center">
            <img src="assets/images/logo/loading.gif" alt="Loading..." class="h-1/2">
            <p class="mt-3 text-gray-600 font-medium">Đang mở rộng cây phân loại...</p>
        </div>
        <div class="relative w-full mb-4 icd-search">
            <div class="flex items-center w-full h-full bg-white">
                <mat-icon class="me-2" [svgIcon]="'heroicons_solid:magnifying-glass'"></mat-icon>
                <input type="text"
                    class="flex-1 border-0 outline-none bg-transparent text-gray-700 text-base placeholder-gray-400"
                    placeholder="Nhập từ khóa để tìm kiếm..." [(ngModel)]="searchTerm"
                    (ngModelChange)="onSearchChange()" />
                <!-- Nút X -->
                <button *ngIf="searchTerm" type="button" (click)="searchTerm=''; suggestions=[]"
                    class="p-1 flex items-center justify-center rounded hover:bg-gray-200 transition">
                    <mat-icon [svgIcon]="'heroicons_outline:x-mark'" class="text-primary"></mat-icon>
                </button>
            </div>
            <!-- 🔽 GỢI Ý TÌM KIẾM (dropdown) -->
            <div *ngIf="suggestions.length"
                class="absolute left-0 right-0 mt-1 top-10 bg-white border rounded shadow-lg z-50 max-h-64 overflow-y-auto">

                <div *ngFor="let item of suggestions" class="px-3 py-2 hover:bg-gray-100 cursor-pointer flex gap-2"
                    (click)="selectSuggestion(item)">

                    <!-- <span class="font-semibold text-primary">{{ item.code }}</span>
                    <span>{{ item.title_vi }}</span> -->
                    <!-- highlight code -->
                    <span class="font-semibold text-primary-700" [innerHTML]="highlightMatch(item.code)"></span>

                    <!-- highlight title_vi -->
                    <span [innerHTML]="highlightMatch(item.title_vi)"></span>
                </div>
            </div>
        </div>
        <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="icd-tree">
            <!-- Node lá (không có con) -->
            <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding
                [attr.data-code]="node.code"
                [attr.data-chapter]="node.level === 0 ? node.chapter : null"
                [attr.data-level]="node.level"
                [class.selected-node]="isNodeSelected(node)">
                <!-- <button mat-icon-button disabled></button> -->
                <span *ngIf="node.level === 0" (click)="showDetail(node.chapter, node.level)" class="cursor-pointer hover:text-primary-400">
                    {{node.code}}: {{node.title_vi}}
                </span>
                <span *ngIf="node.level !== 0" (click)="showDetail(node.code, node.level)" class="cursor-pointer hover:text-primary-400">
                    {{node.code}}: {{node.title_vi}}
                </span>
            </mat-tree-node>
            <!-- Node có con (expandable) -->
            <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding
                [attr.data-code]="node.code"
                [attr.data-chapter]="node.level === 0 ? node.chapter : null"
                [attr.data-level]="node.level"
                [class.selected-node]="isNodeSelected(node)">
                <button *ngIf="!node.is_leaf" mat-icon-button [matTreeNodeToggle]="node.expandable">
                    <mat-icon>
                        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                    </mat-icon>
                </button>
                <button *ngIf="node.is_leaf" mat-icon-button disabled></button>
                <span *ngIf="node.level === 0" (click)="showDetail(node.chapter, node.level)"
                    class="cursor-pointer font-semibold hover:text-primary-400">
                    {{node.chapter}}: {{node.title_vi}}
                </span>
                <span *ngIf="node.level !== 0" (click)="showDetail(node.code, node.level)"
                    class="cursor-pointer font-semibold hover:text-primary-400">
                    {{node.code}}: {{node.title_vi}}
                </span>
            </mat-tree-node>
        </mat-tree>
    </div>

    <!-- RIGHT: Detail -->
    <div class="w-full p-4">
        <div class="detail">
            <ng-container class="relative" *ngIf="selected; else noSel">
                <ng-container *ngIf="selected.chapter">
                    <h2 class="text-2xl text-primary-600 font-bold">
                        CHƯƠNG {{selected.chapter.chapter}}
                    </h2>
                    <h2 class="text-2xl text-primary-600 font-bold uppercase">
                        {{selected.chapter.title_vi}} ({{selected.chapter.code}})
                    </h2>
                    <p class="mt-3 text-primary-600 text-xl font-semibold">Chương này bao gồm các khối sau:</p>
                    <ul class="ml-6">
                        <li *ngFor="let item of selected.children"
                            class="grid grid-cols-[80px_1fr] gap-4 py-2 hover:text-primary-400">
                            <span class="font-semibold cursor-pointer underline" (click)="showDetail(item.code, 1)">{{
                                item.code }}</span>
                            <span>{{ item.title_vi }}</span>
                        </li>
                    </ul>
                </ng-container>
                <ng-container *ngIf="selected.block">
                    <h2 class="text-2xl text-primary-600 font-bold">
                        CHƯƠNG {{selected.block.chapter.chapter}}
                    </h2>
                    <h2 class="text-2xl text-primary-600 font-bold uppercase">
                        {{selected.block.chapter.title_vi}} ({{selected.block.chapter.code}})
                    </h2>
                    <p class="my-3 pb-2 border-b-2 text-primary-600 text-xl font-semibold">{{selected.block.code}}:
                        {{selected.block.title_vi}}</p>
                    <p class="mt-3 text-primary-600 text-xl font-semibold">Nhóm này bao gồm:</p>
                    <ul class="ml-6">
                        <li *ngFor="let item of selected.children"
                            class="grid grid-cols-[50px_1fr] gap-4 py-2 hover:text-primary-400">
                            <span class="font-semibold cursor-pointer underline" (click)="showDetail(item.code, 2)">{{
                                item.code }}</span>
                            <span>{{ item.title_vi }}</span>
                        </li>
                    </ul>
                </ng-container>
                <ng-container *ngIf="selected.disease && !selected.disease_parent">
                    <h2 class="text-2xl text-primary-600 font-bold">
                        CHƯƠNG {{selected.disease.block.chapter.chapter}}
                    </h2>
                    <h2 class="text-2xl text-primary-600 font-bold uppercase">
                        {{selected.disease.block.chapter.title_vi}} ({{selected.disease.block.chapter.code}})
                    </h2>
                    <p class="my-3 pb-2 border-b-2 text-primary-600 text-xl font-semibold">
                        {{selected.disease.block.code}}: {{selected.disease.block.title_vi}}</p>
                    <p class="my-3 pb-2 border-b-2 text-primary-600 text-lg font-medium">{{selected.disease.code}}:
                        {{selected.disease.title_vi}}</p>
                    <ul class="ml-6">
                        <li *ngFor="let item of selected.children"
                            class="grid grid-cols-[50px_1fr] gap-4 py-2 hover:text-primary-400">
                            <span class="font-semibold cursor-pointer underline" (click)="showDetail(item.code, 3)">{{
                                item.code }}</span>
                            <span>{{ item.title_vi }}</span>
                        </li>
                    </ul>
                </ng-container>
                <ng-container *ngIf="selected.disease_parent">
                    <h2 class="text-2xl text-primary-600 font-bold">
                        CHƯƠNG {{selected.disease_parent.block.chapter.chapter}}
                    </h2>
                    <h2 class="text-2xl text-primary-600 font-bold uppercase">
                        {{selected.disease_parent.block.chapter.title_vi}}
                        ({{selected.disease_parent.block.chapter.code}})
                    </h2>
                    <p class="my-3 pb-2 border-b-2 text-primary-600 text-xl font-semibold">
                        {{selected.disease_parent.block.code}}: {{selected.disease_parent.block.title_vi}}</p>
                    <p class="my-3 pb-2 border-b-2 text-primary-600 text-lg font-medium">
                        {{selected.disease_parent.code}}: {{selected.disease_parent.title_vi}}</p>
                    <div class="grid grid-cols-[50px_1fr] gap-4 py-2">
                        <span class="font-semibold">{{ selected.disease.code }}</span>
                        <span>{{ selected.disease.title_vi }}</span>
                    </div>
                    <p class="my-3 text-center font-semibold bg-gray-300">Các bệnh khác cùng loại</p>
                    <ul class="ml-6">
                        <li *ngFor="let item of selected.children" class="grid grid-cols-[50px_1fr] gap-4 py-2">
                            <span class="font-semibold cursor-pointer underline" (click)="showDetail(item.code, 3)">{{
                                item.code }}</span>
                            <span>{{ item.title_vi }}</span>
                        </li>
                    </ul>
                </ng-container>
                <div class="absolute right-6 bottom-6 z-50 group">
                    <button class="w-12 h-12 flex items-center justify-center
                        bg-gray-100 opacity-25 rounded-full p-3 
                        shadow-lg hover:bg-gray-200 hover:opacity-100 transition"
                        (click)="openFeedbackPopup(selected)">
                        <mat-icon class="scale-125" svgIcon="heroicons_solid:chat-bubble-bottom-center-text"></mat-icon>
                    </button>
                    <!-- Tooltip FEEDBACK -->
                    <div class="absolute left-1/2 -translate-x-1/2 bottom-full mb-2
                            bg-gray-700 text-white text-xs px-2 py-1 rounded 
                            opacity-0 group-hover:opacity-100 
                            transition pointer-events-none whitespace-nowrap">
                        Góp ý
                    </div>
                </div>
            </ng-container>

            <ng-template #noSel>
                <h1 class="font-semibold text-[24px] mb-2">
                    Phân loại quốc tế về bệnh tật và các vấn đề sức khỏe liên quan – Phiên bản lần thứ 10 (ICD-10)
                </h1>

                <p class="mb-2">
                    Bạn có thể duyệt hệ thống phân loại bằng cách sử dụng <strong>cấu trúc phân cấp ở khung bên
                        trái</strong>,
                    hoặc áp dụng <strong>tính năng tìm kiếm</strong> để nhanh chóng tra cứu mã bệnh và mô tả chi tiết.
                </p>

                <p class="text-gray-500 italic">
                    Thông tin chi tiết hơn về cách sử dụng trình duyệt ICD-10 trực tuyến có sẵn trong tài liệu hướng dẫn
                    sử dụng.
                </p>
            </ng-template>
        </div>
    </div>
</div>

<div *ngIf="showFeedbackPopup" class="fixed inset-0 bg-black/40 flex items-center justify-center z-[100]">

    <div class="w-[800px] bg-white rounded-lg shadow-lg max-h-[90vh] overflow-hidden">

        <!-- HEADER -->
        <div class="flex items-center justify-between px-4 py-3 bg-primary-600 text-white rounded-t-lg">
            <div class="flex items-center gap-2 text-xl font-semibold">
                <mat-icon svgIcon="heroicons_solid:chat-bubble-bottom-center-text" class="text-white"></mat-icon>
                Góp ý
            </div>
            <span class="material-icons cursor-pointer hover:text-gray-300" (click)="closeFeedbackPopup()">close</span>
        </div>

        <!-- BODY -->
        <div class="p-5 space-y-4 overflow-y-auto max-h-[70vh]">

            <!-- ============================= -->
            <!--      CASE 1: NOT LOGGED IN    -->
            <!-- ============================= -->
            <div *ngIf="!isLoggedIn" class="text-center py-10">
                <h2 class="text-xl font-semibold mb-3">Bạn cần đăng nhập</h2>
                <p class="text-gray-600 mb-5">
                    Hãy đăng nhập trước khi gửi góp ý về mã bệnh ICD-10.
                </p>

                <button (click)="signIn()" class="px-6 py-2 bg-primary-500 text-white rounded-lg hover:bg-primary-600">
                    Đăng nhập ngay
                </button>
            </div>

            <!-- ============================= -->
            <!--       CASE 2: LOGGED IN       -->
            <!-- ============================= -->
            <div *ngIf="isLoggedIn">

                <!-- Row 1 -->
                <div class="grid grid-cols-2 gap-4">
                    <!-- Code -->
                    <div>
                        <label class="font-medium flex items-center gap-1 mb-1">
                            <mat-icon svgIcon="heroicons_solid:code-bracket-square"></mat-icon> Mã
                        </label>
                        <input class="w-full border rounded px-3 py-2 mb-3" placeholder="Góp ý về mã bệnh"
                            [(ngModel)]="feedBack.code">
                    </div>

                    <!-- Title -->
                    <div>
                        <label class="font-medium flex items-center gap-1 mb-1">
                            <mat-icon svgIcon="heroicons_solid:tag"></mat-icon> Tiêu đề
                        </label>
                        <input class="w-full border rounded px-3 py-2 mb-3" placeholder="Góp ý về tiêu đề"
                            [(ngModel)]="feedBack.title_vi">
                    </div>
                </div>
                <!-- Chapter -->
                <div *ngIf="feedBack.block && !feedBack.disease" class="relative">
                    <label class="font-medium flex items-center gap-1 mb-1">
                        <mat-icon svgIcon="heroicons_solid:document"></mat-icon> Chương
                    </label>
                    <!-- Dropdown Trigger -->
                    <button type="button"
                        class="text-sm font-semibold px-3 py-2 mb-3 rounded-lg flex items-center gap-1 border w-full"
                        (click)="toggleDropdown(feedBack.id)" [attr.aria-expanded]="isDropdownOpen(feedBack.id)">

                        <!-- Chapter hiện tại -->
                        {{ (feedBack.new_chapter || feedBack.chapter).chapter }} -
                        {{ (feedBack.new_chapter || feedBack.chapter).title_vi }}
                        ({{ (feedBack.new_chapter || feedBack.chapter).code }})

                        <mat-icon>keyboard_arrow_down</mat-icon>
                    </button>

                    <!-- Dropdown danh sách chapter -->
                    <div *ngIf="isDropdownOpen(feedBack.id)"
                        class="absolute top-full left-0 mt-1 bg-white border border-gray-200 rounded-lg shadow-lg z-50 w-full max-h-40 overflow-y-auto">

                        <button *ngFor="let chap of listChapter" type="button"
                            class="w-full px-3 py-2 text-left hover:bg-gray-100 flex items-center gap-2 transition"
                            (click)="selectNewChapter(feedBack, chap)">

                            {{ chap.chapter }} - {{ chap.title_vi }} ({{ chap.code }})

                            <span class="material-icons text-primary ml-auto"
                                *ngIf="feedBack.new_chapter?.id === chap.id">check</span>
                        </button>
                    </div>
                </div>
                <!-- Block -->
                <div *ngIf="feedBack.disease" class="relative">
                    <label class="font-medium flex items-center gap-1 mb-1">
                        <mat-icon svgIcon="heroicons_solid:book-open"></mat-icon> Nhóm
                    </label>
                    <!-- Dropdown Trigger -->
                    <button type="button"
                        class="text-sm font-semibold px-3 py-2 mb-3 rounded-lg flex items-center gap-1 border w-full"
                        (click)="toggleDropdown(feedBack.id)" [attr.aria-expanded]="isDropdownOpen(feedBack.id)">

                        <!-- Block hiện tại -->
                        {{ (feedBack.new_block || feedBack.block).code }} -
                        {{ (feedBack.new_block || feedBack.block).title_vi }}

                        <mat-icon>keyboard_arrow_down</mat-icon>
                    </button>

                    <!-- Dropdown danh sách block -->
                    <div *ngIf="isDropdownOpen(feedBack.id)"
                        class="absolute top-full left-0 mt-1 bg-white border border-gray-200 rounded-lg shadow-lg z-50 w-full max-h-40 overflow-y-auto">

                        <button *ngFor="let block of listBlock" type="button"
                            class="w-full px-3 py-2 text-left hover:bg-gray-100 flex items-center gap-2 transition"
                            (click)="selectNewBlock(feedBack, block)">

                            {{ block.code }} - {{ block.title_vi }}

                            <span class="material-icons text-primary ml-auto"
                                *ngIf="feedBack.new_block?.id === block.id">check</span>
                        </button>
                    </div>
                </div>

                <!-- Disease Parent -->
                <div *ngIf="feedBack.disease && feedBack.disease_parent" class="relative">
                    <label class="font-medium flex items-center gap-1 mb-1">
                        <mat-icon svgIcon="heroicons_solid:cube-transparent"></mat-icon> Bệnh cha
                    </label>
                    <!-- Dropdown Trigger -->
                    <button type="button"
                        class="text-sm font-semibold px-3 py-2 mb-3 rounded-lg flex items-center gap-1 border w-full"
                        (click)="toggleDropdownDiseaseParent(feedBack.id)" [attr.aria-expanded]="isDropdownOpenDiseaseParent(feedBack.id)">

                        <!-- Block hiện tại -->
                        {{ (feedBack.new_disease_parent || feedBack.disease_parent).code || '-' }} -
                        {{ (feedBack.new_disease_parent || feedBack.disease_parent).title_vi || '-' }}

                        <mat-icon>keyboard_arrow_down</mat-icon>
                    </button>

                    <!-- Dropdown danh sách block -->
                    <div *ngIf="isDropdownOpenDiseaseParent(feedBack.id)"
                        class="absolute top-full left-0 mt-1 bg-white border border-gray-200 rounded-lg shadow-lg z-50 w-full max-h-40 overflow-y-auto">

                        <button *ngFor="let ds of listDisease" type="button"
                            class="w-full px-3 py-2 text-left hover:bg-gray-100 flex items-center gap-2 transition"
                            (click)="selectNewDiseaseParent(feedBack, ds)">

                            {{ ds.code }} - {{ ds.title_vi }}
                            <span class="material-icons text-primary ml-auto"
                                *ngIf="feedBack.new_disease_parent?.id === ds.id">check</span>
                        </button>
                    </div>
                </div>

                <!-- Reason -->
                <div>
                    <label class="font-medium flex items-center gap-1 mb-1">
                        <mat-icon svgIcon="heroicons_solid:chat-bubble-left-right"></mat-icon> Lý do góp ý
                    </label>
                    <textarea class="w-full border rounded px-3 py-2 resize-y" rows="4" required
                        placeholder="Nhập lý do góp ý..." [(ngModel)]="feedBack.reason"></textarea>

                </div>
            </div>

        </div>

        <!-- FOOTER -->
        <div *ngIf="isLoggedIn" class="flex justify-end gap-3 px-6 py-3 bg-gray-100 rounded-b-lg">
            <button class="px-5 py-2 bg-gray-200 rounded-lg hover:bg-gray-300 flex items-center gap-2"
                (click)="closeFeedbackPopup()">
                <mat-icon svgIcon="heroicons_solid:x-mark" class="scale-90"></mat-icon> Hủy
            </button>

            <button class="px-5 py-2 bg-primary-400 text-white rounded-lg hover:bg-primary-600 flex items-center gap-2"
                (click)="submitFeedback()">
                <mat-icon svgIcon="heroicons_solid:paper-airplane" class="scale-90 text-white"></mat-icon> Gửi
            </button>
        </div>

    </div>
</div>